body{
    background-color: rgb(85, 255, 47);

}
h1{
    text-align: center;
}
p{
    
    background: #f2f5d5;
    width: auto;
    height: auto;
    padding: 20px;
    border: 5px solid gray;
    margin: 20px;
    text-align: justify;
}
.img{
    border: 7px solid #c6c600;
    border-radius: 25px;
    display: block;
    /*width: fit-content;*/
    /* margin-left: auto;
    margin-right: auto; */
margin: auto;

}

.foto{
    background-color: #2affd8;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 8em;
    & img{
        width: 150px;
        margin: 0;
    }
}

ol{
    background: #f2f5d5;
    width: auto;
    height: auto;
    padding: 20px;
    border: 5px solid gray;
    margin: 20px;
    text-align: justify;
}


/*.foto img{
    width: 250px;
}*/

.promo{
    text-align: center;
    color: red;
}

.cod{
    display: block;
    margin: auto;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 15px;
    color: black;
    border: 2px dotted black;
    border-radius: 15px;

}
.cod p{
    background-color: aqua;
    border-radius: 15px;
    border: 3px solid red;
    text-align: center;
    font-weight: bold;
    color: blue;
    
}

#tombol{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid whitesmoke;
    background-color: orange;
    color: black;
}